<p id="notice"><%= notice %></p>
<h1>Listing Feedbacks</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Crew Name</th>
        <th>Passanger Name</th>
        <th>Aircraft Name</th>
        <th>Feedback Text</th>
        <th>Status</th>        
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.crew_name %></td>
        <td><%= feedback.passanger_name %></td>
        <td><%= feedback.aircraft_name %></td>
        <td><%= feedback.feedback_text %></td>
        <td><%= feedback.status %></td>
        <td><%= feedback.created_at %></td>        
        <td><%= link_to 'Show Video', feedback %><%#= link_to 'Edit', edit_feedback_path(feedback) %><%#= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<br>
 <%#= video_player({:file => @feedbacks.first.video.url,  :mute => true}, {:width => 440, :height => 300}) %>
<%#= link_to 'New Feedback', new_feedback_path %>

